@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webfont: Centrion-Regular */
@font-face {
	font-family: "Centrion";
	src: url("Centrion-High.woff2") format("woff2"),
		/* Modern Browsers */ url("Centrion-Regular.otf") format("opentype"); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: "MilkyWalky";
	src: url("MilkyWalky-Regular.woff") format("woff2"),
		/* Modern Browsers */ url("MilkyWalky-Regular.ttf") format("opentype"); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: "Dx Aiter";
	src: url("../public/fonts/Free\ Demo\ Font/Aiter.otf") format("opentype"); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

.milky-walky {
	font-family: "MilkyWalky" !important;
}

.centrion {
	font-family: "Centrion" !important;
	letter-spacing: 0.1rem;
}
@layer base {
	label {
		@apply h-6 relative inline-block;
	}

	[type="checkbox"] {
		@apply w-11 h-6 cursor-pointer inline-block;
		@apply focus:outline-0 dark:focus:outline-0;
		@apply border-0 dark:border-0;
		@apply focus:ring-offset-transparent dark:focus:ring-offset-transparent;
		@apply focus:ring-transparent dark:focus:ring-transparent;
		@apply focus-within:ring-0 dark:focus-within:ring-0;
		@apply focus:shadow-none dark:focus:shadow-none;
		@apply appearance-none;

		@apply after:absolute before:absolute;
		@apply after:top-0 before:top-0;
		@apply after:block before:inline-block;
		@apply before:rounded-full after:rounded-full;

		@apply after:content-[''] after:w-5 after:h-5 after:mt-0.5 after:ml-0.5;
		@apply after:shadow-md after:duration-100;

		@apply before:content-[''] before:w-10 before:h-full;
		@apply before:shadow-[inset_0_0_#000];

		@apply after:bg-white dark:after:bg-gray-50;
		@apply before:bg-gray-300 dark:before:bg-gray-600;
		@apply before:checked:bg-yellow-400 dark:before:checked:bg-yellow-400;
		@apply checked:after:duration-300 checked:after:translate-x-4;

		@apply disabled:after:bg-opacity-75 disabled:cursor-not-allowed;
		@apply disabled:checked:before:bg-opacity-40;
	}
}

select {
	background-color: #27272a !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: transparent;
	border: none;
	padding: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	height: 100%;
}
